.DS_Store
.azure
.boto
.cache
.config
.kube
.local
.terraform.d
.viminfo
__pycache__
*.egg-info
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
.terraform
*-cfg-k8s.yaml
kubeconfig_eks-*
node_modules
.pki
pic*.png
