apiVersion: v1
kind: ConfigMap
metadata:
  name: lacework-config
data:
  config.json: |
    {"tokens":{"AccessToken":"LACEWORK_ACCESS_TOKEN"}, "tags":{"Env":"k8s"}, "serverurl":"https://api.lacework.net"}